NEXT_PUBLIC_SUPABASE_URL=https://ofiqjdezptrjmfkhliyc.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_W9hA9wOr6jxAlNwCuI8-nA_xO1mtaZi
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
